.node-ROOT          > .label > rect { fill: #00ffd0; }
.node-END           > .label > rect { fill: #ffae6a; }
.node-CACHE         > .label > rect { fill: #7e7e7e; }

.node-PERSON        > .label > rect { fill: #b997ff; }
.node-ORGANIZATION  > .label > rect { fill: #96c2ff; }
.node-ORDINAL       > .label > rect { fill: #92ff7d; }
.node-NUMBER        > .label > rect { fill: #fdb9ff; }

.main-svg {
  width: 100%;
  border: 1px solid #999;
  overflow: hidden;
}

.legend-svg {
  position: fixed;
  /*top: 150px;*/
  /*left: 0;*/
  /*height: 60px;*/
  width: 600px;
  /*width: 100%;*/
  /*border: 1px solid #999;*/
}

.legend {
  stroke-width: 3px;
  stroke: #333;
  fill: none;
  opacity: 0.5;
}

/*.legend-person  > .label > rect {*/
/*fill: #b997ff;*/
/*}*/

/*.legend-date  > .label > rect {*/
/*fill: #ffae6a;*/
/*}*/

/*.legend-organization > .label > rect {*/
/*fill: #96c2ff;*/
/*}*/